@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dana Yad AAA";
  src: local("dana-yad-alef-alef-alef-normal.ttf"),
    url("./assets/fonts/dana-yad-alef-alef-alef-normal.ttf") format("truetype");
}    

* {
  font-family: 'Dana Yad AAA';
}

html {
  font-size: 62.5%;
}

body {
  height: 100dvh;
  overflow: hidden;
  transition: 0.3s;
}

h1 {
  line-height: 1.4!important;
}

.appContainer {
  max-width: 400px;
  max-height: 800px;
  margin: 0 auto;
  padding-top: 22dvh;
}

.roundButton {
  width: 60px;
  height: 60px;
}

.carouselWrapper {
  position: absolute;
  top: 0;
  z-index: 1;
  max-width: 767px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.carouselWrapper img {
  height: auto;
  min-height: 100dvh;
  min-width: 100%;
  object-fit: cover;
}

.qrWrapper svg {
  height: 60px;
  width: 60px;
}

.qrWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
}

.reviewsWrapper {
  position: absolute;
  top: 0;
  z-index: 99;
  max-width: 767px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #fff;
}

.swiper-button-prev::before {
  content: "";
  display: block;
  width: 57px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56.577' height='21.902' viewBox='0 0 56.577 21.902'%3E%3Cg id='חץ_הבא' data-name='חץ הבא' transform='translate(-289.341 34.503)'%3E%3Cg id='Group_38' data-name='Group 38' transform='translate(289.341 -24.516)'%3E%3Cpath id='Path_130' data-name='Path 130' d='M303.79-29.978c5.7-.37,14.369-.37,20.074-.593,1.257-.071,2.517-.294,3.776-.294,1.186,0,1.482.145,1.336,1.109-.077.373-.222.966-1.26,1.037-5.557.445-26.817.667-32.372.889-4.89.222-8.6-1.776-3.7-1.7C295.345-29.459,300.085-29.827,303.79-29.978Z' transform='translate(-289.341 30.864)' fill='%23707070'/%3E%3C/g%3E%3Cg id='Group_39' data-name='Group 39' transform='translate(323.145 -34.503)'%3E%3Cpath id='Path_131' data-name='Path 131' d='M321.448-24.505c-1.921-.864-3.2-1.655-4.693-2.261-8.03-3.112-12.006-4.671-15.1-6.732a1.1,1.1,0,0,1,1.057-1c1.095-.132,9.191,3.6,20.7,8.727.417.184,1.043.818,1.013,1.213a2.165,2.165,0,0,1-1.09,1.4l-9.188,5.39c-3.019,1.707-6.051,3.343-9.171,4.907a.966.966,0,0,1-1.531-.283c1.454-2.308,9.086-6.243,14.761-9.462C319.1-23.114,319.969-23.693,321.448-24.505Z' transform='translate(-301.659 34.503)' fill='%23707070'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  min-width: 57px;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next, .swiper-button-prev {
  height: auto !important;
  width: auto !important;
  background: rgb(55 55 55 / 10%);
  border-radius: 27px;
  padding: 0.2rem 1rem;
  bottom: 1.6rem;
  top: auto !important;
}

.swiper-button-next::before {
  content: "";
  display: block;
  width: 57px;
  height: 22px;
  min-width: 57px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56.577' height='21.902' viewBox='0 0 56.577 21.902'%3E%3Cg id='חץ_הקודם' data-name='חץ הקודם' transform='translate(345.918 -12.601) rotate(180)'%3E%3Cg id='Group_38' data-name='Group 38' transform='translate(289.341 -24.516)'%3E%3Cpath id='Path_130' data-name='Path 130' d='M303.79-29.978c5.7-.37,14.369-.37,20.074-.593,1.257-.071,2.517-.294,3.776-.294,1.186,0,1.482.145,1.336,1.109-.077.373-.222.966-1.26,1.037-5.557.445-26.817.667-32.372.889-4.89.222-8.6-1.776-3.7-1.7C295.345-29.459,300.085-29.827,303.79-29.978Z' transform='translate(-289.341 30.864)' fill='%23707070'/%3E%3C/g%3E%3Cg id='Group_39' data-name='Group 39' transform='translate(323.145 -34.503)'%3E%3Cpath id='Path_131' data-name='Path 131' d='M321.448-24.505c-1.921-.864-3.2-1.655-4.693-2.261-8.03-3.112-12.006-4.671-15.1-6.732a1.1,1.1,0,0,1,1.057-1c1.095-.132,9.191,3.6,20.7,8.727.417.184,1.043.818,1.013,1.213a2.165,2.165,0,0,1-1.09,1.4l-9.188,5.39c-3.019,1.707-6.051,3.343-9.171,4.907a.966.966,0,0,1-1.531-.283c1.454-2.308,9.086-6.243,14.761-9.462C319.1-23.114,319.969-23.693,321.448-24.505Z' transform='translate(-301.659 34.503)' fill='%23707070'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.swiper-rtl .swiper-button-prev {
  right: 2rem!important;
}

.swiper-rtl .swiper-button-next {
  left: 2rem!important;
}

.reviewsWrapper {
  position: absolute;
  top: 0;
  max-width: 767px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.reviewsWrapper img {
  height: auto;
  min-height: 100dvh;
  position: absolute;
  bottom: 0;
  left: 50%;
  min-width: 100%;
  transform: translateX(-50%);
}

.mainTitle {
  -webkit-text-stroke: 1px;
}

.buttonsWrapper {
  max-width: 24rem;
}

.addToContactsButton {
  font-size: 1.6rem;
  height: 2.8rem;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
